<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835867039271-13m1vsgd2rv7nppamcjdpbug7dt8g7gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835867039271-13m1vsgd2rv7nppamcjdpbug7dt8g7gc</string>
	<key>API_KEY</key>
	<string>AIzaSyCizCrRplXxUdqYEc29K70okZOONCzZtqc</string>
	<key>GCM_SENDER_ID</key>
	<string>835867039271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCrudExample</string>
	<key>PROJECT_ID</key>
	<string>blooddonationapp-79b65</string>
	<key>STORAGE_BUCKET</key>
	<string>blooddonationapp-79b65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835867039271:ios:94cf9d8df06ef4a6eb6002</string>
</dict>
</plist>